.text-area {
    -fx-background-color:  #303030;
    -fx-border-color: #303030;
    -fx-text-fill: #bebebe;
}
.text-area .content {
    -fx-background-color: #303030;
    -fx-border-color: #303030;
    -fx-background-insets: 0;
}
.text-area .scroll-pane .scroll-bar:vertical {
    -fx-background-color: #303030; /* 滚动条背景颜色 */
}

.text-area .scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #303030; /* 滚动条背景颜色 */
}

.text-area .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #2b7efc; /* 滑块背景颜色 */
}

.text-area .scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #2b7efc; /* 滑块背景颜色 */
}
.text-area .scroll-pane .scroll-bar:vertical .increment-arrow,
.text-area .scroll-pane .scroll-bar:vertical .decrement-arrow {
    -fx-opacity: 0; /* 将箭头的不透明度设置为0，隐藏箭头 */
}